<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [opened]="(isHandset$ | async) === false"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-nav-list class="links">
      <a mat-list-item routerLink="/" class="my-link">
        <mat-icon matListItemIcon color="primary">home</mat-icon>Home</a
      >
      <ng-template [ngIf]="!(isLoggedIn$ | async)">
        <a mat-list-item routerLink="/login"
          ><mat-icon matListItemIcon color="primary">login</mat-icon>Login</a
        >
        <a mat-list-item routerLink="/register"
          ><mat-icon matListItemIcon color="primary">person</mat-icon
          >Register</a
        >
      </ng-template>
      <ng-template [ngIf]="isLoggedIn$ | async">
        <a mat-list-item routerLink="/create-recipe"
          ><mat-icon matListItemIcon color="primary">add</mat-icon>Add recipe</a
        >
        <a mat-list-item routerLink="/favorites"
          ><mat-icon matListItemIcon color="primary">favorite</mat-icon
          >Favorites</a
        >
        <a mat-list-item routerLink="/authored"
          ><mat-icon matListItemIcon color="primary"
            >sentiment_satisfied</mat-icon
          >My recipes</a
        >
        <a mat-list-item routerLink="/logout"
          ><mat-icon matListItemIcon color="primary">logout</mat-icon>Logout</a
        >
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>My recipes</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
