<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [opened]="(isHandset$ | async) === false"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar> Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <ng-template [ngIf]="!(isLoggedIn$ | async)">
        <a mat-list-item routerLink="/login">Login</a>
        <a mat-list-item routerLink="/register">Register</a>
      </ng-template>
      <ng-template [ngIf]="isLoggedIn$ | async">
        <a mat-list-item routerLink="#">Add recipe</a>
        <a mat-list-item routerLink="/favorites">Favorites</a>
        <a mat-list-item routerLink="/authored">My recipes</a>
        <a mat-list-item routerLink="/logout">Logout</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>My recipes</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
