<mat-card class="example-card">
  <img mat-card-image [src]="imageUrl" alt="Meal image" class="img" />
  <mat-card-header class="card-header">
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-chip-listbox aria-label="Fish selection">
      <mat-chip-option *ngFor="let tag of tags">{{ tag }}</mat-chip-option>
    </mat-chip-listbox>
  </mat-card-header>
  <mat-card-actions class="actions">
    <button mat-button (click)="onAddToFavorites()">LIKE</button>
    <button mat-button>DETAILS</button>
  </mat-card-actions>
</mat-card>
