<mat-card class="example-card">
  <img mat-card-image [src]="imageUrl" alt="Meal image" class="img" />
  <mat-card-header class="card-header">
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-chip-listbox aria-label="Fish selection">
      <mat-chip-option *ngFor="let tag of tags">{{ tag }}</mat-chip-option>
    </mat-chip-listbox>
  </mat-card-header>
  <mat-card-actions class="actions">
    <button *ngIf="!isInFavorites" mat-button (click)="onAddToFavorites()">
      <mat-icon color="primary">favorite</mat-icon>SAVE IT
    </button>
    <button
      [disabled]="isInFavorites"
      [ngClass]="{ disabled: isInFavorites === true }"
      *ngIf="isInFavorites"
      mat-button
    >
      <mat-icon color="primary">check</mat-icon>SAVED
    </button>

    <button mat-button (click)="navigateToDetailsPage()">
      <mat-icon color="primary">info</mat-icon>DETAILS
    </button>
  </mat-card-actions>
</mat-card>
