<mat-card class="card">
  <img mat-card-image [src]="imageUrl" alt="Meal image" class="img" />
  <div class="content">
    <mat-card-header class="card-header">
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-subtitle class="subtitle">{{ summary }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="actions">
      <ng-template [ngIf]="isAuthor">
        <button mat-button (click)="onDeleteRecipe()">
          <mat-icon color="primary">delete</mat-icon>DELETE
        </button>
        <button mat-button (click)="navigateToEditPage()">
          <mat-icon color="primary">edit</mat-icon>EDIT
        </button>
      </ng-template>
      <button *ngIf="isFavorite" mat-button (click)="onRemoveFromFavorites()">
        <mat-icon color="primary">delete</mat-icon>REMOVE
      </button>
      <button mat-button (click)="navigateToDetailsPage()">
        <mat-icon color="primary">info</mat-icon>DETAILS
      </button>
    </mat-card-actions>
  </div>
</mat-card>
