/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  max-width: 100vw;
}
app-root {
  position: relative;
  min-height: 100vh;
  display: block;

  main {
    min-width: 320px;
    max-width: 2000px;
    margin: 0 auto;
  }
}
router-outlet {
  display: none;
}
.mat-drawer-container {
  background-color: white;
}

.mat-snack-bar-container {
  max-width: 100% !important;
}
.my-success-snackbar {
  background-color: #087a51 !important;
}
.my-error-snackbar {
  background-color: #b91c1c !important;
}
.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: transparent !important;
  width: 400px !important;
  max-width: 100% !important;
  height: 50px !important;
  text-align: center !important;
}
.mat-mdc-snack-bar-container {
  --mdc-snackbar-supporting-text-size: 18px;
}
